@import "tailwindcss";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"]::-ms-clear,
input[type="number"]::-ms-reveal {
  display: none;
}

.card--gradient {
  background: linear-gradient(
    80.28deg,
    #de3746 6.17%,
    #dd3746 15.72%,
    #db3645 23.49%,
    #d73544 29.76%,
    #d23442 34.79%,
    #cb3240 38.87%,
    #c4313e 42.26%,
    #bd2f3b 45.25%,
    #b42d39 48.09%,
    #ab2a36 51.08%,
    #a22833 54.47%,
    #992630 58.55%,
    #90242e 63.58%,
    #88222b 69.85%,
    #802028 77.62%,
    #781e26 87.17%
  );
}

@layer components {
  .shadow-5 {
    box-shadow: 0 4px 4px 0 #0000004d;
  }
}

@theme {
  --color-cloutera-black: #1b1818;
  --color-fade: #edeeef;
  --color-fade-light: #ededf2;
  --color-neutral-black: #1a1a21;
  --color-placeholder: #98a2b3;
  --color-white-dark: #6f6f6f;
  --color-heading: #1e1e1e;

  --color-gray-200: #e9eaeb;

  --color-grey-10: #9e9e9e;
  --color-grey-100: #f0f2f5;
  --color-grey-200: #eaecf0;
  --color-grey-300: #d0d5dd;
  --color-grey-500: #667185;
  --color-grey-700: #344054;
  --color-grey-800: #292d32;
  --color-grey-900: #1f2226;

  --color-office-brown-75: #f0e6e6;
  --color-office-brown-100: #e4dbdb;
  --color-office-brown-400: #a29999;
  --color-office-brown-700: #645d5d;
  --color-office-brown-900: #3e3838;

  --color-foundation-red-normal: #de3746;
  --color-foundation-red-light: #fcebed;
  --color-foundation-red-white: #fdf5f6;
  --color-foundation-red-light-active: #f5c1c6;

  --color-foundation-blue-normal: #3121df;
  --color-foundation-blue-light: #e0defa;

  --color-success-base: #0f973d;
  --color-success-50: #e7f6ec;

  --color-status-bg-green: #e9ffef;
  --color-status-text-green: #409261;

  --color-status-in-progress: #ef5513;

  --color-status-error: #b3261e;
  --color-status-error-container: #f9dedc;

  --color-error: #ae241a;

  --color-input-content-medium: #666666;

  --radius-20: 20px;
  --radius-30: 30px;
}
